.footer__phone
    font-family: Gilroy
    font-size: 24px
    line-height: 42px
    color: #FFFFFF
    text-decoration: none
    font-weight: 600
    display: block
    margin:
        top: 20px

    &:hover
        color: #fff