.slider__page
    background: #D5DFE3
    border-radius: 2px
    text-decoration: none
    width: 14px
    height: 10px
    margin:
        right: 11px
    
    &:last-child
        margin:
            right: 0