.btn-white
    background: #FFFFFF
    border-radius: 100px
    font-family: Gilroy
    font-size: 13px
    line-height: 31px
    text-transform: uppercase
    color: #E12D44
    text-decoration: none
    font-weight: 600
    padding:
        left: 23px
        top: 13px
        right: 23px
        bottom: 13px
    
    &:hover
        color: #E12D44
    
    &:active,
    &:focus
        color: #E12D44