.header__paint1
    width: 100%
    height: 100%
    position: absolute
    top: -100%
    left: 0
    background-image: url(../images/1.png)
    background-size: 100% 100%
    background-repeat: no-repeat