@media(max-width: 1199px)
    .prizes__wrap
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-between
        align-items: center
        position: relative
        z-index: 1000