.cities 
    margin-top: 40px


.cities__cols 
    -webkit-columns: 4
    -moz-columns: 4
    columns: 4


.cities__item 
    width: 100%
    margin: 0 0 10px
    table-layout: fixed
    word-wrap: break-word


.cities__item+.cities__item 
    margin-top: 30px


.cities__letter 
    font-weight: 700


.cities__list li a 
    display: block


.cities__list li+li 
    margin-top: 2px


.cities__baselist 
    margin-bottom: 35px


.cities__baselist li a 
    font-weight: 700
    display: block


.cities__list li a:hover,
.cities__baselist li a:hover 
    color: #00a8fc


@media (max-width:991px) 
    .cities__cols 
        -webkit-columns: 3
        -moz-columns: 3
        columns: 3
    


@media (max-width:767px) 
    .cities__cols 
        -webkit-columns: 2
        -moz-columns: 2
        columns: 2
    


@media (max-width:575px) 
    .cities__cols 
        -webkit-columns: 1
        -moz-columns: 1
        columns: 1
    


.fancyBox__style--1 .fancybox-close 
    top: 30px
    right: 30px
    width: 30px
    height: 30px
    -webkit-transition: .4s ease all
    transition: .4s ease all
    background: url(../images/fancybox/close.svg) no-repeat center center


.fancyBox__style--1 .fancybox-close:hover 
    -webkit-transform: rotate(90deg)
    -ms-transform: rotate(90deg)
    transform: rotate(90deg)


@media (max-width:767px) 
    .fancyBox__style--1 .fancybox-close 
        width: 20px
        height: 20px
    


.choiseCity 
    width: 1060px
    padding-top: 30px
    padding-right: 80px
    padding-bottom: 30px
    padding-left: 80px

.choiseCity ul
    list-style: none


.choiseCity__title 
    font-size: 40px
    font-weight: 700
    line-height: 1.1
    text-align: center
    color: #1c3240


.choiseCity input[type=submit] 
    display: block
    margin: 20px auto 0


@media (max-width:1199px) 
    .choiseCity 
        width: 100%
    


@media (max-width:991px) 
    .choiseCity 
        padding-left: 20px
        padding-right: 20px
    


@media (max-width:767px) 
    .choiseCity__title 
        font-size: 34px
    


@media (max-width:575px) 
    .choiseCity__title 
        font-size: 28px
        padding: 0 20px
    
