@media(max-width: 1199px)
    .prizes__prize-price
        font-family: Gilroy
        font-size: 50px
        line-height: 35px
        color: #000000
        font-weight: bold
        margin:
            top: 25px