.btn
    background: #1CABD5
    border-radius: 100px
    font-family: Gilroy;
    font-size: 13px
    line-height: 31px
    text-transform: uppercase
    color: #FFFFFF
    text-decoration: none
    padding: 
        left: 40px
        top: 13px
        right: 40px
        bottom: 13px
    
    &:hover
        background: #E12D44
        color: #fff
    
    &:active,
    &:focus
        background: #FF2945
        color: #fff