.slider__bottom
    position: absolute
    width: 100%
    height: 60px
    left: 0
    bottom: 0
    display: flex
    flex-direction: row
    justify-content: center
    align-content: center