footer
    height: 340px
    background-image: url(../images/footer.png)
    background-size: 100% 100%
    background-repeat: no-repeat
    background-position: center bottom
    position: relative
    overflow: hidden