@media(max-width: 1199px)
    .header__menu
        display: flex
        list-style: none
        padding:
            top: 85px
        position: fixed
        top: 0
        left: 100%
        width: 100%
        height: 100vh

        & > ul
            width: 100%
            display: block
            list-style: none
            
            & > li
                display: block
                margin: 0
                padding: 0

                &:last-child > a
                    padding:
                        right: 0