@media(max-width: 519px)
    .result__photo
        width: 220px
        height: 220px

@media(max-width: 499px)
    .result__photo
        width: 196px
        height: 196px
        margin:
            top: 25px

@media(max-width: 439px)
    .result__photo
        width: 150px
        height: 150px
        margin:
            top: 25px

@media(max-width: 320px)
    .result__photo
        width: 132px
        height: 132px