.burger
    position: relative !important
    display: block

.burger__line
    position: absolute
    width: 100%
    width: 26px
    height: 2px
    background: #fff
    -webkit-transform-origin: center center
    transform-origin: center center
    -webkit-transition: all ease-in-out 200ms
    transition: all ease-in-out 200ms

.burger__line:nth-child(1)
    -webkit-transform: translateY(-10px)
    transform: translateY(-10px)

.burger__line:nth-child(2)
    top: calc(50% - 1px)

.burger__line:nth-child(3)
    -webkit-transform: translateY(8px)
    transform: translateY(8px)

.burger--state--active .burger__line
    -webkit-transition: all ease-in-out 100ms
    transition: all ease-in-out 100ms

.burger--state--active .burger__line:nth-child(1)
    -webkit-transform: rotate(45deg)
    transform: rotate(45deg)

.burger--state--active .burger__line:nth-child(2)
    opacity: 0

.burger--state--active .burger__line:nth-child(3)
    -webkit-transform: rotate(-45deg)
    transform: rotate(-45deg)

.navigation__btn-menu
    display: block
    padding: 30px