.map__place
    border: 1px solid #E4EAED
    border:
        bottom: 0
    box-sizing: border-box
    height: 160px
    padding:
        top: 15px
        left: 20px
        right: 15px
        bottom: 18px

    &:last-child
        border:
            bottom: 1px solid #E4EAED