.header__menu
    display: flex
    list-style: none
    z-index: 999
    padding:
        top: 5px

    & > ul
        display: flex
        list-style: none
        
        & > li
            margin: 0
            padding: 0