@media(max-width: 1199px)
    footer
        height: auto
        background-image: url(../images/footer.png)
        background-size: auto 100%
        background-repeat: no-repeat
        background-position: center bottom
        position: relative