@media(max-width: 1199px)
    .rules__wrap
        background: #FFFFFF
        box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.05)
        padding:
            left: 20px
            top: 46px
            right: 60px
            bottom: 75px