.maps__title-link
    font-family: Gilroy
    font-size: 40px
    line-height: 44px
    color: #00A9D7
    border-bottom: 2px dashed #00A9D7
    display: inline-block
    margin: 
        left: 22px

    &:hover
        color: #E12D44
        border-bottom: 2px dashed #E12D44
