.prizes__criteries-list
    margin:
        top: 30px
    list-style: none
    font-family: Gilroy
    font-size: 18px
    line-height: 19px
    color: #000000

    & > li
        padding:
            left: 25px
        position: relative
        margin:
            bottom: 23px
        
        &::before
            content: ""
            position: absolute
            width: 11px
            height: 13px
            top: 3px
            left: 0
            background-image: url(../images/marker.svg)
    
    &:last-child
        margin:
            bottom: 0