@media(max-width: 1199px)
    .header__menu-link
        display: block
        text-align: center
        font-family: Gilroy
        font-size: 15px
        font-weight: 600
        line-height: 31px
        letter-spacing: 1px
        text-transform: uppercase
        color: #FFFFFF
        text-decoration: none
        padding:
            left: 15px
            top: 13px
            right: 15px
            bottom: 13px

        &:hover
            color: #E12D44
            border-radius: 0