@media(max-width: 1199px)
    .footer__email
        font-family: Gilroy
        font-size: 20px
        line-height: 42px
        color: #FFFFFF
        text-decoration: none
        font-weight: 600
        border:
            bottom: 1px solid #FFFFFF
        
        &:hover
            color: #fff