@media(max-width: 1199px)
    .slider__wrap
        width: auto
        height: auto
        margin:
            left: 10px
            right: 10px
        padding:
            left: 0
            right: 0