@media(max-width: 1199px)
    .prizes__prize
        width: auto
        display: flex
        flex-direction: row
        flex-wrap: wrap
        align-content: center
        align-items: center
        margin:
            top: 32px