.result__photo
    width: 250px
    height: 250px
    background-color: #F0F0F0
    margin:
        top: 50px
    background-image: url(../images/photo.png)
    background-repeat: no-repeat
    background-position: center center
    background-size: cover