.header__menu-link
    font-family: Gilroy
    font-size: 15px
    font-weight: 600
    line-height: 31px
    letter-spacing: 1px
    text-transform: uppercase
    color: #FFFFFF
    text-decoration: none
    padding:
        left: 15px
        top: 13px
        right: 15px
        bottom: 13px

    &:hover
        box-sizing: border-box
        border-radius: 31px
        color: #E12D44 !important
        background-color: #FFF