header
    width: 100%
    height: 701px
    //background-image: url(../images/background.jpg)
    background-size: cover
    background-repeat: no-repeat
    background-position: center bottom
    position: relative