@media(max-width: 1199px)
    .header__content-desc
        width: auto
        font-family: Gilroy
        font-size: 20px
        line-height: 30px
        color: #fff
        padding:
            top: 25px